extends layout

block content
  h4 Book Reviews
  p Here is the current list of book reviews.  Feel free to add your own with the following form:
  form(action ="/bookreviews/create" method ='post')
    label(for="title")
        strong Title:
    input#title(type="text", name="title", required)
    br
    label(for="author") 
        strong Author:
    input#author(type="text", name="author", required)
    br
    label(for="reviewer") 
        strong Reviewer:
    input#reviewer(type="text", name="reviewer", required)
    br
    label(for="review")
        strong Review: 
    textarea(name="review", cols="100", rows="15", required)
    br
    input#subBtn(type="submit", name="submit"  value="submit")

  h2 Current Reviews
  .row
    each bookreview in bookreviews
      h4 Title: #{bookreview.title}; Author: #{bookreview.author}; Reviewer: #{bookreview.reviewer}; Uploaded: #{bookreview.createdAt}
      p Review: #{bookreview.review}
      a(href='/bookreviews/'+bookreview._id) Edit review 
